@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<SelectListItem>>;
@using BCP.Sap.Models.Sap;
@using Microsoft.AspNetCore.Http;
@using BCP.Framework.Common;
@{
    Sesion sesion;
    string[] politicas = { };
    if (Context.Session.GetString("autorizado") == null)
    {
        sesion = new Sesion();
    }
    else
    {
        sesion = ManagerJson.DeserializarObjecto<Sesion>(Context.Session.GetString("autorizado"));
        politicas = sesion.usuario.politicas.Split('|');
    }
}
@{
    ViewData["Title"] = "Persona Natural: ";
    if (Model[5].Count > 1)
    {
        Model[5][0].Value = "A";
        Model[5][1].Value = "I";
        Model[5][1].Selected = true;
    }
    string guid = "T";
    if (TempData["guid"] != null)
    {
        if (bool.Parse(TempData["guid"].ToString()))
        {
            guid = "N";
        }
    }
}
<div class="container border border-primary" style="background-color:lightgrey">
    <header>
        <h4>Persona Natural:</h4>
    </header>
    <div class="form-row">
        <div class="col-lg-11">
            <div id="divDP" class="form-row p-1 mb-2">
                <label for="txtDID" class="col-sm-3 col-form-label">
                    Documento de Identidad:
                </label>
                <div class="col-sm-8">
                    <input type="hidden" value="" id="Ftxtidc" />
                    <input id="txtDID" onkeyup="validarIDC(this)" maxlength="12" name="idc" class="form-control" type="text" />

                </div>
                <div class="col-sm-1">
                    <input id="txttDID" name="tipoDocumento" class="form-control" type="text" />

                </div>
                @if (politicas.Contains("SAPP_BO_CLI_MOD_IDC"))
                {
                    <input id="hDID" type="hidden" value="" />
                    <input id="htDID" type="hidden" value="" />
                }
            </div>
            <div class="container border border-dark p-1">
                <ul class="nav nav-tabs" id="tabNatural" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link bg-transparent btn btn-outline-light active" data-toggle="tab" href="#Natural1" role="tab" aria-controls="home" aria-expanded="true">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-transparent btn btn-outline-light" data-toggle="tab" href="#Natural2" role="tab" aria-controls="profile" aria-expanded="true">Datos Generales</a>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="tabNaturalContent">
                    <div class="tab-pane fade show active" id="Natural1" role="tabpanel" aria-labelledby="1-tab">
                        <div class="container mb-1" >
                            <div class="form-row">
                                <div id="divNom" class="col-sm-10">
                                    <div class="form-row">
                                        <label for="txtnComercial" class="col-sm-2 col-form-label">
                                            Nombre comercial:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="txtnComercial" name="nombreComercial" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="txtpaterno" class="col-sm-2 col-form-label">
                                            Apellido Paterno:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="txtpaterno" name="paterno" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="txtmaterno" class="col-sm-2 col-form-label">
                                            Apellido Materno:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="txtmaterno" name="materno" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="txtnombres" class="col-sm-2 col-form-label">
                                            Nombres:
                                        </label>
                                        <div class="col-sm-10">
                                            <input id="txtnombres" name="nombres" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    @if (politicas.Contains("SAPP_BO_CLI_MOD_NOM"))
                                    {
                                        <input id="hpaterno" type="hidden" value="" />
                                        <input id="hmaterno" type="hidden" value="" />
                                        <input id="hnombres" type="hidden" value="" />
                                    }
                                </div>
                                <div class="col-sm-2 text-center p-1">
                                    @if (politicas.Contains("SAPP_BO_CLI_CON_ALF"))
                                    {
                                        <button onclick="DesplegarCA()" type="button" class="btn btn-light">Consulta Alfabética</button>
                                    }
                                    else
                                    {
                                        <button disable type="button" class="btn btn-light">Consulta Alfabética</button>
                                    }

                                </div>
                            </div>
                        </div>
                        <div id="divT1S1" class="container border border-dark mb-1">
                            <div class="row ">
                                <div class="col-sm-7">
                                    <div class="form-row">
                                        <label for="txtFecNac" class="col-sm-3 col-form-label">
                                            Fecha de Nacimiento:
                                        </label>
                                        <div class="col-sm-4">
                                            <input readonly id="txtFecNac" value="" name="fechaNacimiento" class="form-control" type="text" placeholder="00/00/0000" maxlength="10"/>
                                        </div>
                                        <label for="cbSexo" class="col-sm-1 col-form-label">
                                            Sexo:
                                        </label>
                                        <div class="col-sm-4">
                                            @Html.DropDownList("sexo", Model[15], "Select", new { @id = "cbSexo", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="cbNacionalidad" class="col-sm-3 col-form-label">
                                            Nacionalidad:
                                        </label>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("nacionalidad", Model[11], "Select", new { @id = "cbNacionalidad", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-row">
                                        <label for="cbEstCivil" class="col-sm-6 col-form-label">
                                            Estado Civil:
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("estadoCivil", Model[4], "Select", new { @id = "cbEstCivil", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="txtNDep" class="col-sm-6 col-form-label">
                                            Número de Dependientes:
                                        </label>
                                        <div class="col-sm-6">
                                            <input readonly id="txtNDep" type="number" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container border border-dark mb-1" id="divDirL">
                            <div class="form-row">
                                <div class="col-sm-5 form-group">
                                    <label for="cbJACalle">
                                        Jr./Av./Calle
                                    </label>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            @Html.DropDownList("calle", Model[19], "Select", new { @id = "cbJACalle", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input readonly id="txtJACalle" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-row">
                                    <div class="col-sm-4 form-group">
                                        <label for="txtnro">
                                            Nro.
                                        </label>
                                        <input readonly id="txtnro" class="form-control" type="text" value="" />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label for="txtmz">
                                            Mz.
                                        </label>
                                        <input readonly id="txtmz" class="form-control" type="text" />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label for="txtlote">
                                            Lote
                                        </label>
                                        <input readonly id="txtlote" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="cbDPI">
                                        Dept./Piso/Int.
                                    </label>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            @Html.DropDownList("departamento", Model[20], "Select", new { @id = "cbDPI", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input readonly id="txtDPI" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-8">
                                    <label for="cbURIV">
                                        Urb/Res/Ind/Und Vec
                                    </label>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            @Html.DropDownList("Urb", Model[21], "Select", new { @id = "cbURIV", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input readonly id="txtURIV" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="cbEtZ">
                                        Etapa/Zona
                                    </label>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            @Html.DropDownList("EtapaZona", Model[22], "Select", new { @id = "cbEtZ", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input readonly id="txtEtZ" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divDirV" class="container border border-dark mb-1" style="display:none;">
                            <div class="form-row">
                                <label for="txtDireccion" class="col-sm-2">
                                    Direccion:
                                </label>
                                <div class="col-sm-8">
                                    <input readonly id="txtDireccion" name="direccion" type="text" class="form-control" />
                                </div>
                                @if (politicas.Contains("SAPP_BO_CLI_DIR_MOD_DIR"))
                                {
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-light" onclick="cambiarDireccionPNJ()">Modificar Dirección</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-2">
                                        <button disabled type="button" class="btn btn-light" >Modificar Dirección</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="divT1S2" class="container border border-dark mb-1">
                            <div class="form-row">
                                <label for="cbLocalidad" class="col-sm-1 col-form-label">
                                    Localidad:
                                </label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("localidad", Model[9], "Select", new { @id = "cbLocalidad", @class = "form-control", @disabled = "disabled" })
                                </div>
                                <label for="txtTelefono" class="col-sm-1 col-form-label">
                                    Telefono:
                                </label>
                                <div class="col-sm-4">
                                    <input readonly id="txtTelefono" name="telefono" class="form-control" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div id="divT1S3" class="container border border-dark mb-2">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-row">
                                        <label for="cbInstruccion" class="col-sm-3 col-form-label">
                                            Instrucción:
                                        </label>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("gradoInstruccion", Model[8], "Select", new { @id = "cbInstruccion", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="cbProfesion" class="col-sm-3 col-form-label">
                                            Profesión:
                                        </label>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("profesion", Model[13], "Select", new { @id = "cbProfesion", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-row">
                                        <label for="cbsitLab" class="col-sm-4 col-form-label">
                                            Situación Laboral:
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("situacionLaboral", Model[16], "Select", new { @id = "cbsitLab", @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Natural2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">
                            <div class="col-sm-6">
                                <fieldset class="border border-dark">
                                    <legend class="w-auto" style="font-size:14px;">
                                        Datos BCP
                                    </legend>
                                    <div class="container">
                                        <div class="form-row">
                                            <label for="cbOfi" class="col-sm-4 col-form-label">
                                                Oficina:
                                            </label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("oficina", Model[23], "Select", new { @id = "cbOfi", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="txtFNeg" class="col-sm-4 col-form-label">
                                                Func. Negocios:
                                            </label>
                                            <div class="col-sm-8">
                                                <input readonly id="txtFNeg" name="funcionarioNegocios" class="form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="cbTCuenta" class="col-sm-4 col-form-label">
                                                Tipo de Cuenta:
                                            </label>
                                            <div class="col-sm-8">
                                                <select id="cbTCuenta" name="tipoCuenta" class="form-control">
                                                    <option value="" selected>Select</option>
                                                    <option value="I">IND. Y DE NEGOCIOS</option>
                                                    <option value="P">PARTICULAR</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="cbTCliente" class="col-sm-4 col-form-label">
                                                T. Cliente:
                                            </label>
                                            <div class="col-sm-8">
                                                @if (politicas.Contains("SAPP_BO_CLI_MOD_TIP_CLI"))
                                                {
                                                    @Html.DropDownList("tipoCliente", Model[24], "Select", new { @id = "cbTCliente", @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("tipoCliente", Model[24], "Select", new { @id = "cbTCliente", @class = "form-control", @disabled= "disabled" })
                                                }
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="cbTBanca" class="col-sm-4 col-form-label">
                                                Tipo de Banca:
                                            </label>
                                            <div class="col-sm-8">
                                                <select id="cbTBanca" name="tipoBanca" class="form-control">
                                                    <option value="" selected>Select</option>
                                                    <option value="C">BANCA CORPORATIVA</option>
                                                    <option value="E">BANCA EMPRESA</option>
                                                    <option value="P">BANCA PERSONAL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="cbSegmento" class="col-sm-4 col-form-label">
                                                Segmento:
                                            </label>
                                            <div class="col-sm-8">
                                                @if (politicas.Contains("SAPP_BO_CLI_MOD_TIP_CLI"))
                                                {
                                                    @Html.DropDownList("segmento", Model[14], "Select", new { @id = "cbSegmento", @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("segmento", Model[14], "Select", new { @id = "cbSegmento", @class = "form-control", @disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtSegBanca">
                                                Segmento de Banca:
                                            </label>
                                            <input id="txtSegBanca" class="form-control" type="text" readonly />
                                            <div style="display:none">
                                                @Html.DropDownList("segmentoBanca", Model[25], "Select", new { @id = "cbSegBanca", @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-6">
                                <div class="container mb-2">
                                    <fieldset class="border border-dark">
                                        <legend class="w-auto" style="font-size:14px;">
                                            Parimonio
                                        </legend>
                                        <div class="container p-2">
                                            <div class="form-row">
                                                <label for="cbCVivienda" class="col-sm-3 col-form-label">
                                                    Condición Vivienda:
                                                </label>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("indicadorVivienda", Model[7], "Select", new { @id = "cbCVivienda", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="container mb-1">
                                    <fieldset class="border border-dark">
                                        <legend class="w-auto" style="font-size:14px;">
                                            Correspondencia
                                        </legend>
                                        <div class="container">
                                            <div class="form-row mt-5">
                                                <label for="txtCorrespondencia" class="col-sm-3 col-form-label">
                                                    Correspondencia:
                                                </label>
                                                <div class="col-sm-9">
                                                    <input id="txtCorrespondencia" name="correspondencia" class="form-control" type="text" readonly />
                                                </div>
                                            </div>
                                            <div class="form-check p-5">
                                                <input id="ckResidente" name="residente" class="form-check-input" type="checkbox" />
                                                <label for="ckResidente" class="form-check-label">
                                                    Residente
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="container mb-1">
                            <fieldset class="border border-dark">
                                <legend class="w-auto" style="font-size:14px;">
                                    Persona Natural de Negocios
                                </legend>
                                <div class="container mb-1">
                                    <div class="form-row">
                                        <label for="txtNit" class="col-sm-2 col-form-label">
                                            NIT:
                                        </label>
                                        <div class="col-sm-4">
                                            <input id="txtNit" name="nit" class="form-control" type="text" value="" />
                                        </div>
                                        <label for="cbEstNit" class="col-sm-2 col-form-label">
                                            Estado Nit:
                                        </label>
                                        <div class="col-sm-4">
                                            @Html.DropDownList("estadoNIT", Model[5], new { @id = "cbEstNit", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="txtrMencartil" class="col-sm-2 col-form-label">
                                            Registro Mercantil:
                                        </label>
                                        <div class="col-sm-4">
                                            <input id="txtrMercantil" name="registroMercantil" class="form-control" type="text" value="" />
                                        </div>
                                        <label for="txtcSBS" class="col-sm-2 col-form-label">
                                            Código SBS:
                                        </label>
                                        <div class="col-sm-4">
                                            <input id="txtcSBS" name="codigoSBS" class="form-control" type="text" value="" />
                                        </div>
                                    </div>
                                    <div class="container mt-1 p-1">
                                        <fieldset class="border border-dark">
                                            <legend class="w-auto" style="font-size:13px;">
                                                Empleador Actual
                                            </legend>
                                            <div class="container">
                                                <div class="form-row">
                                                    <label for="cbciiu" class="col-sm-3 col-form-label">
                                                        C.I.I.U:
                                                    </label>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownList("ciiu", Model[2], "Select", new { @id = "cbciiu", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label for="cbMagEmp" class="col-sm-3 col-form-label">
                                                        Magnitud de Empresa:
                                                    </label>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownList("magnitudEmpresa", Model[10], "Select", new { @id = "cbMagEmp", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-row" style="display:none;">
                                                    <label for="cbciiu2" class="col-sm-3 col-form-label">
                                                        Otro C.I.I.U:
                                                    </label>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownList("ciiu2", Model[2], "Select", new { @id = "cbciiu2", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <center>
                <button id="btConsultaPNJ" class="w-100 btn btn-outline-secondary">
                    <i class="fas fa-search icono-2x"></i><br /><p id="pConsultaPNJ">Consultar</p>
                </button>
                @if (politicas.Contains("SAPP_BO_CLI_PER_NAT_ING_MOD_DAT"))
                {
                    <button id="btIngresarPNJ" onclick="crearPNJ()" class="w-100 btn btn-outline-secondary">
                        <i class="fas fa-print icono-2x"></i><br />Ingresar
                    </button>
                    <button id="btModificarPNJ"  class="w-100 btn btn-outline-secondary" style="display:none;">
                        <i class="fas fa-edit icono-2x"></i><br />Modificar
                    </button>
                }
                else
                {
                    <button id="btModificarPNJ" class="w-100 btn btn-outline-secondary" disabled style="display:none;">
                        <i class="fas fa-edit icono-2x"></i><br />Modificar
                    </button>
                }
                @if (politicas.Contains("SAPP_BO_CLI_ING_FUN_MOD"))
                {
                    <button id="btMFunBan" class="w-100 btn btn-outline-secondary" onclick="cambioFunNeg()" style="display:none;">
                        <i class="fas fa-ship icono-2x"></i><br />Mod. Fun/Banca
                    </button>
                }
                else
                {
                    <button id="btMFunBan" class="w-100 btn btn-outline-secondary" disabled style="display:none;">
                        <i class="fas fa-ship icono-2x"></i><br />Mod. Fun/Banca
                    </button>
                }
                <button class="w-100 btn btn-outline-secondary" onclick="location.href='@Url.Action("Index","Home")'">
                    <i class="fas fa-window-close icono-2x"></i><br />Cerrar
                </button>
            </center>
        </div>
    </div>
    @if (politicas.Contains("SAPP_BO_CLI_CON_ALF"))
    {
        <div class="modal fade" id="CAModal" data-backdrop="static" tabindex="1" role="dialog" aria-labelledby="modalCA" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="Modal-title" id="modalCA">Consulta Alfabetica de Clientes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{
                            await Html.RenderPartialAsync("../Consulta/AlfabeticaCliente");
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @if ( politicas.Contains("SAPP_BO_CLI_DIR_MOD_DIR"))
    {
        <div class="modal fade" id="DACModal" data-backdrop="static" tabindex="1" role="dialog" aria-labelledby="modalPermiso" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="Modal-title" id="modalDAC">Cambiar Direccion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @{
                                TempData["VistaModal"] = "SI";
                                await Html.RenderPartialAsync("../DAC/DatAdiCli",Model);
                            }
                        </div>
                    </div>
                </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var guid = "@guid";
        if (guid != "T") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GUID")',
                dataType: 'json',
                data: { tipo: guid },
                beforeSend: AntesAjax(),
                success: function (l) {

                    if (l.state != null) {
                        if (l.success) {
                            if (l.success) {
                                $("#txtDID").val(l.data.idcNumero + l.data.idcExtension);
                                $("#txttDID").val(l.data.idcTipo);
                                if (l.data.idcTipo == "Q") {
                                    $("#cbNacionalidad").val('BOL');
                                }
                            }
                        }
                    }
                    DespuesAjax();
                },
                error: function (ex, textStatus, errorThrown) {
                    AjaxErrorHandler(ex, textStatus, errorThrown);
                }
            });
        }
    });
    function DesplegarCA() {
        $("#txtApRS").val($("#txtpaterno").val());
        $("#txtAM").val($("#txtmaterno").val());
        $("#txtNom").val($("#txtnombres").val());
        document.getElementById('btCACerrar').setAttribute('onclick', 'cerrarConsultaAlfabetica();');
        $("#btCAAceptar").show();
        $("#CAModal").modal();
    }
    $("#btConsultaPNJ").click(function () {
        if ($("#pConsultaPNJ").html() == "Consultar") {
            consulta();
        }
        else {
            $("#txtFNeg").prop('readonly', true);
            $("#cbTBanca").prop('disabled',false);
            $("#txtDID").prop('readonly', false);
            $("#txttDID").prop('readonly', false);
            $("#pConsultaPNJ").html("Consultar");
            $("#btModificarPNJ").hide();
            $("#btMFunBan").hide();
            $("#btIngresarPNJ").show();
            $("#divDirV").hide();
            $("#divDirL").show();
            HabilitarDesabilitarInput("divT1S1", true);
            HabilitarDesabilitarInput("divT1S2", true);
            HabilitarDesabilitarInput("divT1S3", true);
        }
    });
    $("#btModificarPNJ").click(function () {
        var confirmar = confirm("¿Esta seguro de modificar el registro?");
        if (confirmar == true) {
            AntesAjax();
            var id = $("#txtDID").val();
            var tid = $("#txttDID").val();
            if ($('#hDID').val()!=null)
            {
                modificarIDC(id,tid);
                id = $("#hDID").val();
                tid = $("#htDID").val();
            }
            if ($('#hpaterno').val() != null) {
                modificarNombre(id, tid);
            }
            modificarParametros(id, tid);
        }
    });
    function modificarNombre(id, tid) {
        if ($("#txtpaterno").val() == $("#hpaterno").val() && $("#txtmaterno").val() == $("#hmaterno").val() && $("#txtnombres").val() == $("#hnombres").val()) {
            alert("SE MANTIENE LOS MISMOS DATOS DEL NOMBRE");
        }
        else {
            var parametros = {
                paternoNuevo: $("#txtpaterno").val(),
                maternoNuevo: $("#txtmaterno").val(),
                nombreNuevo: $("#txtnombres").val()
            };
            var datos = {
                id: id,
                tid: tid,
                datos: JSON.stringify(parametros),
                tipoPersona: 'n'
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ModificarNombresPNJ")',
                dataType: 'json',
                data: datos,
                async: false,
                success: function (l) {
                    if (l.message == null) {
                        alert("Error de consulta al microservicio");
                    }
                    else {
                        alert(l.message);
                    }
                },
                error: function (ex, textStatus, errorThrown) {
                    AjaxErrorHandler(ex, textStatus, errorThrown);
                }
            });
        }
    }
    function modificarIDC(id,tid) {
        var idA = $("#hDID").val();
        var tidA = $("#htDID").val();
        if (id == idA && tid == tidA) {
            alert("MISMO IDC, NO SE MODIFICARÁ");
        }
        else {
            var datos = {
                id: idA,
                tid: tidA,
                Nid: id,
                Ntid: tid,
                tipo: 'n'
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ModificarIdcPNJ")',
                dataType: 'json',
                data: datos,
                async: false,
                success: function (l) {
                    if (l.message == null) {
                        alert("Error de consulta al microservicio");
                    }
                    else {
                        alert(l.message);
                        if (l.success) {
                             $("#hDID").val(id);
                             $("#htDID").val(tid);
                        }
                    }
                },
                error: function (ex, textStatus, errorThrown) {
                    AjaxErrorHandler(ex, textStatus, errorThrown);
                }
            });
        }
    }
    function modificarParametros(id, tid) {
        var residente = 'N';
        if ($("#ckResidente").prop('checked')) {
            residente = 'S';
        }
        var datos = {
            id: id,
            tid: tid,
            tipo: 'n',
            pn: {
                residente: residente,
                nombreComercial: $("#txtnComercial").val(),
                domicilio: $("#txtDireccion").val(),
                localidad: $("#cbLocalidad").val(),
                ciiu: $("#cbciiu").val(),
                telefono: $("#txtTelefono").val(),
                tipoCliente: $("#cbTCliente").val(),
                funcionarioNegocios: $("#txtFNeg").val(),
                tipoBanca: $("#cbTBanca").val(),
                registroMercantil: $("#txtrMencartil").val(),
                magnitudEmpresa: $("#cbMagEmp").val(),
                nit: $("#txtNit").val(),
                estadoNIT: $("#cbEstNit").val(),
                codigoSBS: $("#txtcSBS").val(),
                gradoInstruccion: $("#cbInstruccion").val(),
                sexo: $("#cbSexo").val(),
                situacionLaboral: $("#cbsitLab").val(),
                estadoCivil: $("#cbEstCivil").val(),
                profesion: $("#cbProfesion").val(),
                fechaNacimiento: $("#txtFecNac").val(),
                indicadorVivienda: $("#cbCVivienda").val(),
                nacionalidad: $("#cbNacionalidad").val(),
                segmento: $("#cbSegmento").val(),
                tipoCuenta: $("#cbTCuenta").val(),
                oficina: $("#cbOfi").val(),
                correspondencia:$("#txtCorrespondencia").val()
            }
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ModificarPNJ")',
            dataType: 'json',
            data: datos,
            async:false,
            success: function (l) {
                if (l.message == null) {
                    alert("Error de consulta al microservicio");
                }
                else {
                    alert(l.message);
                }
            },
            error: function (ex, textStatus, errorThrown) {
                AjaxErrorHandler(ex, textStatus, errorThrown);
            },
            complete: function () { DespuesAjax(); }
        });
    }
    $("#txttDID").keypress(function (e) {
        $input = $(this);
        setTimeout(function () {
            $input.val($input.val().toUpperCase());
            if (!tipoDocumento($input.val())) {
                $input.val("")
            }
            else {
                if ($input.val() == "Q") {
                    $("#cbNacionalidad").val('BOL');
                }
                if($input.val() != "P"){
                    $("#ckResidente").prop('checked', true);
                }
                else{
                    $("#ckResidente").prop('checked', false);
                }
            }
        },50);
    });
    $("#txtFecNac").keypress(function () {
        $(this).val(formatoInputFecha($(this).val()));
    });
    function HabilitarDesabilitarInput(idDiv,condicional) {
        $('#' + idDiv + ' :input').each(function () {
            switch ($(this).get(0).tagName) {
                case 'INPUT':
                    if($(this).get(0).name!='nombreComercial'){
                        $(this).attr('readonly', condicional);
                    }
                    break;
                case 'SELECT':
                    $(this).attr('disabled', condicional);
                    break;
            }

        });
    }
    function crearPNJ() {
        if($("#txtDID").val()!="" && $("#txttDID").val()!=""){
            var datosFaltantes=validarCreacionCliente();
            if (datosFaltantes != "") {
                alert("Debe completar todos los campos: "+datosFaltantes);
            }
            else {
                var confirmar = confirm("¿Esta seguro de realizar un nuevo registro?");
                if (confirmar == true) {
                    var datos = {
                        id: $("#txtDID").val(),
                        tid: $("#txttDID").val(),
                        cliente: JSON.stringify(parametros()),
                        tipoPersona: 'n',
                        complemento: JSON.stringify(parametrosINFOCLIENTE())
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CrearPNJ")',
                        dataType: 'json',
                        data: datos,
                        beforeSend: AntesAjax(),
                        success: function (l) {
                            if (l.message == null) {
                                alert('Error de consulta al microservicio')
                            }
                            else {
                                alert(l.message);
                                HabilitarDesabilitarInput("divT1S1", true);
                                HabilitarDesabilitarInput("divT1S2", true);
                                HabilitarDesabilitarInput("divT1S3", true);
                                HabilitarDesabilitarInput("divDirL", true);
                                if(l.success){
                                    $("#txtCorrespondencia").val("1");
                                }
                            }
                        },
                        error: function (ex, textStatus, errorThrown) {
                            AjaxErrorHandler(ex, textStatus, errorThrown);
                        },
                        complete: function () { DespuesAjax(); }
                    });
                }
            }
        }
    }
    function obtenerDireccion() {
        var direccion = '';
        if($('#cbJACalle').val()!=null && $('#cbJACalle').val()!=''){
            direccion=direccion+$('#cbJACalle').val();
        }
        if($('#txtJACalle').val()!=''){
            direccion=direccion+$('#txtJACalle').val()+' ';
        }
        if($('#txtnro').val()!=''){
            direccion=direccion+'N.'+$('#txtnro').val()+' ';
        }   
        if($('#txtmz').val()!=''){
            direccion=direccion+'MZ.'+$('#txtmz').val()+' ';
        } 
        if($('#txtlote').val()!=''){
            direccion=direccion+'LT.'+$('#txtlote').val()+' ';
        }
        if($('#cbDPI').val()!=null && $('#cbDPI').val()!=''){
            direccion=direccion+$('#cbDPI').val();
        }
        if($('#txtDPI').val()!=''){
            direccion=direccion+$('#txtDPI').val()+' ';
        }
        if($('#cbURIV').val()!=null && $('#cbURIV').val()!=''){
            direccion=direccion+$('#cbURIV').val();
        }
        if($('#txtURIV').val()!=''){
            direccion=direccion+$('#txtURIV').val()+' ';
        }
        if($('#cbEtZ').val()!=null && $('#cbEtZ').val()!=''){
            direccion=direccion+$('#cbEtZ').val();
        }
        if($('#txtEtZ').val()!=''){
            direccion=direccion+$('#txtEtZ').val()+' ';
        }
        return direccion;
    }
    $("#cbTCuenta").change(function () {
        if ($("#pConsultaPNJ").html() == 'Consultar') {
            var valor = $(this).val();
            if (valor == 'P') {
                $("#txtFNeg").val("B000001");
            }
            else if (valor == 'I') {
                $("#txtFNeg").val("B000006");
            }
            else {
                $("#txtFNeg").val("");
            }
        }
    });
    function parametros() {
        var residente = 'N';
        var negpro = 'N';
        if ($("#ckResidente").prop('checked')) {
            residente = 'S';
        }
        if ($("#cbTCuenta").val()=='I' && $("#txtnComercial").val()!='') {
            negpro = 'S';
        }
        else{
            $("#cbTCuenta").val("P").change();
            $("#txtnComercial").val("");
        }
        var zc = {
            paterno: $("#txtpaterno").val(),
            materno: $("#txtmaterno").val(),
            nombres: $("#txtnombres").val(),
            fechaNacimiento: $("#txtFecNac").val(),
            telefono: $("#txtTelefono").val(),
            ciiu: $("#cbciiu").val(),
            ciiu2: $("#cbciiu2").val(),
            residente: residente,
            negocioPropio: negpro,
            nit: $("#txtNit").val(),
            sexo: $("#cbSexo").val(),
            estadoCivil: $("#cbEstCivil").val(),
            nacionalidad: $("#cbNacionalidad").val(),
            localidad: $("#cbLocalidad").val(),
            profesion: $("#cbProfesion").val(),
            situacionLaboral: $("#cbsitLab").val(),
            gradoInstruccion: $("#cbInstruccion").val(),
            tipoVivienda: $("#cbCVivienda").val(),
            magnitudEmpresa: $("#cbMagEmp").val(),
            direccion: obtenerDireccion(),
            funcionarioNegocios: $("#txtFNeg").val(),
            tipoBanca: $("#cbTBanca").val(),
            registroMercantil: $("#txtrMencartil").val(),
            codigoSBS: $("#txtcSBS").val(),
            nombreComercial: $("#txtnComercial").val(),
            segmento: $("#cbSegmento").val(),
            tipoCuenta: $("#cbTCuenta").val(),
            estadoNIT: $("#cbEstNit").val(),
            oficina: $("#cbOfi").val()
        };
        return zc;
    }
    function parametrosINFOCLIENTE() {
        var residente = 'N';
        var negpro = 'N';
        if ($("#ckResidente").prop('checked')) {
            residente = 'S';
        }
        if ($("#cbTCuenta").val()=='I' && $("#txtnComercial").val()!='') {
            negpro = 'S';
        }
        var zc = {
            paterno: $("#txtpaterno").val(),
            materno: $("#txtmaterno").val(),
            nombres: $("#txtnombres").val(),
            fechaNacimiento: $("#txtFecNac").val(),
            telefono: $("#txtTelefono").val(),
            ciiu: $("#cbciiu option:selected").text(),
            ciiu2: $("#cbciiu2 option:selected").text(),
            residente: residente,
            negocioPropio: negpro,
            nit: $("#txtNit").val(),
            sexo: $("#cbSexo").val(),
            estadoCivil: $("#cbEstCivil option:selected").text(),
            nacionalidad: $("#cbNacionalidad option:selected").text(),
            localidad: $("#cbLocalidad option:selected").text(),
            profesion: $("#cbProfesion option:selected").text(),
            situacionLaboral: $("#cbsitLab option:selected").text(),
            gradoInstruccion: $("#cbInstruccion option:selected").text(),
            tipoVivienda: $("#cbCVivienda option:selected").text(),
            magnitudEmpresa: $("#cbMagEmp option:selected").text(),
            strCalle: $('#cbJACalle option:selected').text(),
            domicilio: $('#txtJACalle').val(),
            strNumeroDomicilio: $('#txtnro').val(),
            strManzana: $('#txtmz').val(),
            strLote: $('#txtlote').val(),
            strDepartamento: $('#cbDPI option:selected').text(),
            strDepPiso: $('#txtDPI').val(),
            strUrbanizacionTipo: $('#cbURIV option:selected').text(),
            strUrbanizacion: $('#txtURIV').val(),
            strSectorTipo: $('#cbEtZ option:selected').text(),
            strSector: $('#txtEtZ').val(),
            nombreEmpresa: $("#txtnComercial").val()
        };
        return zc;
    }
    function consulta(){
        var idc = $("#txtDID").val();
        var tidc = $("#txttDID").val()
        if (idc == '' || tidc == '') {
            alert('Debe llenar los campos de Documento');
            $("#divDirL").show();
            $("#divDirV").hide();
        }
        else {                
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConsultaPNJ")',
                dataType: 'json',
                data: { id: idc, tid: tidc, tipoCliente: 'N' },
                    beforeSend: AntesAjax(),
                success: function (l) {
                    if (l == null) {
                        alert("Error de conexion al microservicio");
                    }
                    if (l.state == null) {
                        alert('error de consulta al microservicio');
                        $("#divDirL").show();
                        $("#divDirV").hide();
                    }
                    else {                       
                        if (!l.success) {
                            alert('Cliente no encontrado');
                            $("#divDirL").show();
                            $("#divDirV").hide();
                        }
                        else {
                            HabilitarDesabilitarInput("divT1S1", false);
                            HabilitarDesabilitarInput("divDirL", true);
                            HabilitarDesabilitarInput("divT1S2", false);
                            HabilitarDesabilitarInput("divT1S3", false);
                            $("#pConsultaPNJ").html("Nueva Consulta");
                            $("#btModificarPNJ").show();
                            $("#btMFunBan").show();
                            $("#btIngresarPNJ").hide();
                            $("#divDirL").hide();
                            $("#divDirV").show();
                            $("#cbTBanca").prop('disabled', true);
                            var recorrido;
                            for (var j in l.data) {
                                recorrido = document.getElementsByName(j);
                                if (recorrido.length > 0) {
                                    if (!(l.data[j] == null || l.data[j] == "")) {
                                        switch (recorrido[0].type) {
                                            case "checkbox":
                                                if (l.data[j] == "S") {
                                                    $("input[name=" + j + "]").prop("checked", true);
                                                }
                                                break;
                                            case "text":
                                                $("input[name=" + j + "]").val(l.data[j]);
                                                break;
                                            case "select-one":
                                                $("select[name=" + j + "]").val(l.data[j]).change();
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                }
                            }
                            $("#txtDID").val(idc);
                            $("#txttDID").val(tidc);
                            if ('@politicas.Contains("SAPP_BO_CLI_MOD_IDC")' == 'True') {
                                copiarTexto("txtDID", "hDID");
                                copiarTexto("txttDID", "htDID");
                            }
                            else {
                                HabilitarDesabilitarInput("divDP", true);
                            }
                            if ('@politicas.Contains("SAPP_BO_CLI_MOD_NOM")' == 'True') {
                                copiarTexto("txtpaterno", "hpaterno");
                                copiarTexto("txtmaterno", "hmaterno");
                                copiarTexto("txtnombres", "hnombres");
                            }
                            else {
                                HabilitarDesabilitarInput("divNom", true);
                            }
                        }
                    }
                },
                error: function (ex, textStatus, errorThrown) {
                    AjaxErrorHandler(ex, textStatus, errorThrown);
                },
                complete: function () { DespuesAjax(); }
            });
        }
    }
    function copiarTexto(original,copia) {
        $("#" + copia + "").val($("#" + original+"").val());
    }
    function tipoDocumento(valor) {
        var pn = ['P', 'Q', 'S', 'Y'];
        if (pn.indexOf(valor) === -1) {
            return false;
        }
        else {
            return true;
        }
    }
    function cambioFunNeg() {
        if ($("#cbTBanca").prop('disabled')) {
            $("#cbTBanca").prop('disabled', false);
            $("#txtFNeg").prop('readonly', false);
        }
        else {
            var confirmar = confirm("¿Esta seguro de modificar el funcionario de negocios?");
            if (confirmar == true) {
                var parametros = {
                    id: $("#txtDID").val(),
                    tid: $("#txttDID").val(),
                    tipoCliente: "n",
                    oficina: $("#cbOfi").val(),
                    funNeg: {
                        funcionarioNegocios: $("#txtFNeg").val(),
                        banca: $("#cbTBanca").val()
                    }
                }
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambioFunNeg")',
                    dataType: 'json',
                    data: parametros,
                    beforeSend: AntesAjax(),
                    success: function (l) {
                        if (l.message == null) {
                            alert("Error de consulta al microservicio");
                        }
                        else {
                            alert(l.message);
                        }
                    },
                    error: function (ex, textStatus, errorThrown) {
                        AjaxErrorHandler(ex, textStatus, errorThrown);
                    },
                    complete: function () { DespuesAjax(); }
                });
            }
            $("#cbTBanca").prop('disabled', true);
            $("#txtFNeg").prop('readonly', true);
        }
    }
    $("#btCAAceptar").click(function () {
        $("#CAModal").modal('hide');
        var nfila = ($("#tbCAC tr").length) - 1;
        var id = 0;
        for (var i = 1; i <= nfila; i++) {
            if ($("#tbCAC #" + i + "").hasClass("bg-info")) {
                id = i;
                break;
            }
        }
        if (id > 0) {
            var tipo = $("#xidt" + (id)).html();
            var pn = ['P', 'Q', 'S', 'Y'];
            if (pn.indexOf(tipo) === -1) {
                alert("IDC NO VALIDO");
            }
            else {
                $("#txtDID").val($("#xidc" + (id)).html() + $("#xide" + (id)).html());
                $("#txttDID").val(tipo);
                $("#CAModal").modal('hide');
                consulta();
            }
        }
        else {
            alert("CLIENTE NO SELECCIONADO");
        }
    });
    $("#cbSegBanca").change(function () {
        $("#txtSegBanca").val($("#cbSegBanca option:selected").text());
    });
    function cerrarConsultaAlfabetica(){
        HabilitarDesabilitarInput("divT1S1", false);
        HabilitarDesabilitarInput("divT1S2", false);
        HabilitarDesabilitarInput("divT1S3", false);
        HabilitarDesabilitarInput("divDirL", false);
        $("#CAModal").modal("hide");
    }
    function validarCreacionCliente(){
        var datosFaltantes="";
        if($("#txtpaterno").val()==""){
            datosFaltantes=datosFaltantes+"ApellidoPaterno,";
        }
        if($("#txtmaterno").val()==""){
            datosFaltantes=datosFaltantes+"ApellidoMaterno,";
        }
         if($("#txtnombres").val()==""){
             datosFaltantes=datosFaltantes+"Nombre(s),";
         }
         if( $("#txtFecNac").val()==""){
             datosFaltantes=datosFaltantes+"Nacimiento,";
         }
         if($("#cbSexo").val()==""){
             datosFaltantes=datosFaltantes+"Sexo,";
         }
         if($("#cbEstCivil").val()==""){
             datosFaltantes=datosFaltantes+"Estado Civil,";
         }
         if($('#txtJACalle').val()==""){
             datosFaltantes=datosFaltantes+"Direccion,";
         }
         if($("#cbLocalidad").val()==""){
             datosFaltantes=datosFaltantes+"Localidad,";
         }
         if($("#cbInstruccion").val()==""){
             datosFaltantes=datosFaltantes+"Instruccion,";
         }
         if($("#txtFNeg").val()==""){
             datosFaltantes=datosFaltantes+"Funcionario de Negocios,";
         }
         if($("#cbTBanca").val()==""){
             datosFaltantes=datosFaltantes+"Tipo de Banca,";
         }
         if($("#cbsitLab").val()==""){
             datosFaltantes=datosFaltantes+"Situacion Laboral,";
         }
         if($("#cbOfi").val()==""){
             datosFaltantes=datosFaltantes+"Oficina,";
         }
         if($("#cbTCuenta").val()==""){
             datosFaltantes=datosFaltantes+"Tipo de Cuenta,";
         }
         if($("#cbCVivienda").val()==""){
             datosFaltantes=datosFaltantes+"Condicion de Vivienda,";
         }
         if($("#cbMagEmp").val()==""){
             datosFaltantes=datosFaltantes+"Magnitud de Empresa,";
         }
         if($("#cbciiu").val()==""){
             datosFaltantes=datosFaltantes+"C.I.I.U.,";
         }
        return datosFaltantes.substr(0, datosFaltantes.length - 1); 
    }
    function cambiarDireccionPNJ(){
        $("#1-tabDAC").prop("disabled", true);
        $("#2-tabDAC").prop("disabled", true);
        $("#3-tabDAC").prop("disabled", true);
        $("#4-tabDAC").prop("disabled", true);
        $("#5-tabDAC").prop("disabled", true);
        document.getElementById("btCerrarDAC").setAttribute("onClick", "$('#DACModal').modal('hide');");
        $("#txtDACDID").prop("readonly",true);
        $("#txtDACtDID").prop("readonly",true);
        $("#txtDACDID").val($("#txtDID").val());
        $("#txtDACtDID").val($("#txttDID").val());
        $("#DACModal").modal();
    }
    function modificarDireccionDAC() {
        var nfila = ($("#tbDireccion tr").length) - 1;
        var index = 0;
        for (var i = 1; i <= nfila; i++) {
            if ($("#tbDireccion #" + i + "").hasClass("bg-info")) {
                index = i;
                break;
            }
        }
        if (index > 0) {
            if($("#fTipo" + i + "").html()=="M"){
                alert("NO ES POSIBLE RELACIONAR CON DIRECCION DE CORREO ELECTRONICO.");
            }
            else if($("#fCorr" + i + "").html()!="S"){
                alert("NO ES POSIBLE RELACIONAR CON DIRECCION QUE NO ES DE CORRESPONDENCIA.");
            }
            else{
                $("#txtDireccion").val($("#fDir" + i + "").html());
                $("#txtTelefono").val($("#fDTel" + i + "").html());
                $("#cbLocalidad").val($("#fCLoc" + i + "").html());
                $("#txtCorrespondencia").val($("#fDnro" + i + "").html());
                $("#tbDireccion tbody").empty();
                $("#btIngresar").attr('disabled', true);
                $("#txtNom").val("");
                $("#divDirBusqAv").show();
                $("#divTbDirProd").hide();
            }
        }
        $("#DACModal").modal('hide');
    }
</script>